<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title}} Our Events List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>DS Events</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about"></a>About us</li>
            <li><a href="/contact"></a>Contact us</li>
        </ul>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>