body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: steelblue;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 25px;
    /* position: fixed; */
    width: 100%;
}

header > img {
    padding-left: 25px;
    width: 138px;
    height: 41px;
    align-self: center;
}

header > nav > ul {
    list-style: none;
    display: flex;
    padding-right: 25px;
}

header > nav > ul > li {
    padding: 15px 25px;
    margin: 10px;
    background-color: lightseagreen;
    border-radius: 5px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

body > main > section {
    display: flex;
    padding: 0 25px;
}

body > main > section > div > img {
    height: 200px;
}

#favourites h2 {
    font-family: "Nothing You Could Do";
    font-size: 40px;
    background-color: transparent;
    position: absolute;
    padding-left: 30px;
    color: white;
}

#favourites p {
    font-size: 14px;
    background-color: transparent;
    position: absolute;
    padding-top: 75px;
    padding-left: 30px;
    color: white;
    z-index: inherit;
}

#favourites a {
    font-size: 12px;
    background-color: lightseagreen;
    position: absolute;
    padding: 5px 8px;
    color: white;
    z-index: inherit;
    margin-left: 30px;
    margin-top:  150px;
}

#favourites div {
    justify-content: space-between;
}

#favourites img {
    width: 450px;
    margin: 0 5px;
}

#form {
    background-color: rgb(0, 0, 30);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}

#form h2 {
    color: white;
}

body >  > section > main {
    display: flex;
    flex-direction: row;
}